<!DOCTYPE html>
<html>

	{% load staticfiles %}
	
	<head>
		<title> This is my sick title! </title>
	</head>
	
	<body>
		<h1>This tutorial has been put together by yours truly.</h1>
		<div>
			<img src="{% static "images/dw.jpg" %}"
				alt= "Peter Capaldi is a legendary doctor, my friends." />
		</div>
		<div>
			<strong>{{ boldmessage }}</strong><br />
			also, don't forget to floss.<br />
			<img src ="{{ MEDIA_URL}}cat.jpg" 
			alt="This is not a cat"/><br />
			<a href="rango/index/">Back to Index</a><br />
		</div>
	</body>


</html>